<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
  <Package
      Name="SessionPilot"
      Manufacturer="SessionPilot"
      Version="$(var.Version)"
      UpgradeCode="15886FB0-4BCD-4030-A2B5-B4F0264D333A"
      Scope="perUser"
      Language="1033">

    <SummaryInformation Description="SessionPilot is not associated with Bitsum or Process Lasso. This package does not install Process Lasso." />
    <MajorUpgrade DowngradeErrorMessage="A newer version of SessionPilot is already installed." />
    <MediaTemplate EmbedCab="yes" />
    <Icon Id="SessionPilotIcon" SourceFile="..\..\src\SessionPilot.App\app.ico" />
    <Property Id="ARPPRODUCTICON" Value="SessionPilotIcon" />
    <Property Id="SESSIONPILOT_INSTALLFOLDER">
      <RegistrySearch Id="SessionPilotInstallFolderSearch" Root="HKCU" Key="Software\SessionPilot" Name="InstallFolderPath" Type="raw" />
    </Property>

    <StandardDirectory Id="PerUserProgramFilesFolder">
      <Directory Id="INSTALLFOLDER" Name="SessionPilot">
        <Component Id="SessionPilotFolderCleanup" Guid="EA62075D-6D98-42AF-905A-AB86FB87A6FF">
          <RemoveFolder Id="RemoveInstallFolder" On="uninstall" />
          <util:RemoveFolderEx On="uninstall" Property="SESSIONPILOT_INSTALLFOLDER" Condition="SESSIONPILOT_INSTALLFOLDER" />
          <RegistryValue Root="HKCU" Key="Software\SessionPilot" Name="InstallFolder" Type="integer" Value="1" KeyPath="yes" />
          <RegistryValue Root="HKCU" Key="Software\SessionPilot" Name="InstallFolderPath" Type="string" Value="[INSTALLFOLDER]" />
        </Component>
      </Directory>
    </StandardDirectory>

    <StandardDirectory Id="ProgramMenuFolder">
      <Component Id="SessionPilotStartMenu" Guid="533193E5-4712-4D92-A27B-2C9998F88A0C">
        <Shortcut
            Id="SessionPilotShortcut"
            Name="SessionPilot"
            Target="[INSTALLFOLDER]SessionPilot.App.exe"
            WorkingDirectory="INSTALLFOLDER"
            Icon="SessionPilotIcon" />
        <RegistryValue Root="HKCU" Key="Software\SessionPilot" Name="StartMenuShortcut" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </StandardDirectory>

    <Feature Id="Main">
      <ComponentRef Id="SessionPilotStartMenu" />
      <ComponentRef Id="SessionPilotFolderCleanup" />
      <Files Include="..\..\artifacts\publish\win-x64\**" Directory="INSTALLFOLDER">
        <Exclude Files="..\..\artifacts\publish\win-x64\**\*.pdb" />
      </Files>
    </Feature>

    <Property Id="ARPCOMMENTS" Value="SessionPilot is not associated with Bitsum or Process Lasso. This package does not install Process Lasso." />
    <Property Id="ARPNOMODIFY" Value="1" />

    <UIRef Id="WixUI_Common" />

    <UI>
      <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
      <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
      <TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />
      <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />

      <DialogRef Id="ProgressDlg" />
      <DialogRef Id="CancelDlg" />
      <DialogRef Id="ErrorDlg" />
      <DialogRef Id="FatalError" />
      <DialogRef Id="UserExit" />
      <DialogRef Id="ExitDialog" />
      <DialogRef Id="FilesInUse" />
      <DialogRef Id="MsiRMFilesInUse" />

      <!-- First page. ProgressDlg, which stays up while files are copied, comes next. -->
      <Dialog Id="NoticeDlg" Width="370" Height="270" Title="SessionPilot Setup">
        <Control Id="Title" Type="Text" X="20" Y="20" Width="330" Height="24" NoPrefix="yes" Text="{\WixUI_Font_Title}Before SessionPilot is installed" />
        <Control Id="PointBitsum" Type="Text" X="20" Y="56" Width="330" Height="40" NoPrefix="yes" Text="SessionPilot is not associated with Bitsum or Process Lasso." />
        <Control Id="PointRequired" Type="Text" X="20" Y="104" Width="330" Height="40" NoPrefix="yes" Text="Process Lasso is required. SessionPilot does not install it." />
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
        <Control Id="Install" Type="PushButton" X="220" Y="243" Width="72" Height="17" Default="yes" Text="Install">
          <Publish Event="EndDialog" Value="Return" />
        </Control>
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="Cancel">
          <Publish Event="EndDialog" Value="Exit" />
        </Control>
      </Dialog>

      <Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999" />

      <InstallUISequence>
        <Show Dialog="NoticeDlg" Before="ProgressDlg" Condition="NOT Installed" />
      </InstallUISequence>
    </UI>
  </Package>
</Wix>
